{% for ro in snmp_config.ro -%}
snmp-server community {{ ro }} ro
{% endfor %}
{% for rw in snmp_config.rw -%}
snmp-server community {{ rw }} rw
{% endfor %}
snmp-server location {{ location }}
snmp-server contact {{ contact }}
